p{
    font-size: 1.2em;
        Font-family: Copperplate, Copperplate Gothic Light, fantasy
        text-align: center;
  }
.img2 {
  display: table;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 60%;
  height: 60%;
}
body {
            animation: fadeInAnimation ease 0.67s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 ,.bgimg-6, .bgimg-7{
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("faeterj-dados/unnamed.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("faeterj-dados/download.jpeg");
  background-position: right top;
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("faeterj-dados/atletica.png");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("faeterj-dados/image.jpg");
  min-height: 900px;

}

.bgimg-5 {
  background-image: url("faeterj-dados/evento.jpg");
  min-height: 100%;

}

.bgimg-6 {
  background-image: url("faeterj-dados/contato/contato.png");
  min-height: 100%;
}

.bgimg-7 {
  background-image: url("faeterj-dados/sobre.png");
  min-height: 100%;;

}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.navigation {
  /*position: sticky;*/
  top:0;
  /*background-color:white;*/
  margin: 0px;
  padding: 0px;
  width:100%;
  height:120px;
  z-index:100;
 
}

#menu{
  font: 400 15px/1.8 "Lato", sans-serif;
   margin: 0%;
  float: left; 
position: sticky

}

/*Barra de Menu*/
nav {
  margin: 27px auto 0;
  z-index:200;
  position: sticky;
  width: 730px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .6s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
a:nth-child(6) {
  width: 120px;
}

nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #e67e22;
}
nav .start-sobre, a:nth-child(6):hover~.animation {
  width: 100px;
  left: 600px;
  background-color: #ac7591;
}




/**/

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
  
  #rodape {
  width: 750px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
  
}
